* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, #00dbde 0%, #fc00Ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 450px;
    max-width: 100%;
    overflow: hidden;
    min-height: 300px;
}

.header {
    background-color: #eee;
    padding: 20px;  
}

.form {
    padding: 2px;
    position: relative;
    left: 30px;
    align-items: center;
    max-width: 500px;
    min-width: 300px;
    
}

/*
transform: translate(-50%, -50%);
    width: min-content;
    align-items: center; */